---
import Icon from "./icons.astro";
---
<nav class="ww-nav">
  <a href="#top" class="ww-nav__brand" aria-label="Wyld Wattage home">
    <img src="/images/ww-logo.png" alt="" width="36" height="36" />
    <span class="ww-nav__wordmark">Wyld Wattage</span>
  </a>
  <div class="ww-nav__links">
    <a href="#about">About</a>
    <a href="#videos">Videos</a>
    <a href="#podcast">Podcast</a>
    <a href="#patreon">Patreon</a>
    <a href="#shop">Shop</a>
  </div>
  <a class="ww-nav__cta" href="https://members.wyldwattage.com" target="_blank" rel="noopener">
    Become a Patron
    <Icon kind="arrow" />
  </a>
</nav>
