<nav class="ww-nav">
  <a href="#top" class="ww-nav__brand" aria-label="Current Heading home">
    <img src="/images/current-heading-avatar-dark.svg" alt="" width="36" height="36" />
    <span class="ww-nav__wordmark">Current Heading</span>
  </a>

  <div class="ww-nav__links" aria-label="Primary navigation">
    <a href="#videos">Channel</a>
    <a href="#about">About</a>
    <a href="#podcast">Ground Loop</a>
    <a href="#patreon">Patreon</a>
    <a href="#shop">Shop</a>
  </div>

  <a class="ww-nav__cta" href="#patreon">Support</a>

  <details class="ww-nav__menu">
    <summary>Menu</summary>
    <div class="ww-nav__menu-panel">
      <a href="#videos">Channel</a>
      <a href="#about">About</a>
      <a href="#podcast">Ground Loop</a>
      <a href="#patreon">Patreon</a>
      <a href="#shop">Shop</a>
    </div>
  </details>
</nav>
