---
import Icon from "./icons.astro";
---
<nav class="ww-nav">
  <a href="#top" class="ww-nav__brand" aria-label="Current Heading home">
    <img src="/images/current-heading-avatar-dark.svg" alt="" width="36" height="36" />
    <span class="ww-nav__wordmark">Current Heading</span>
  </a>
  <div class="ww-nav__links">
    <a href="#about">About</a>
    <a href="#videos">Channel</a>
    <a href="#podcast">Podcast</a>
    <a href="#patreon">Patreon</a>
    <a href="#shop">Shop</a>
  </div>
  <a class="ww-nav__cta" href="https://members.currentheading.com" target="_blank" rel="noopener">
    Become a Patron
    <Icon kind="arrow" />
  </a>
</nav>
